:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(18, 18, 18, 0.87);
  background-color: #f4fbfb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rounded{
  border-radius: 8px;
  overflow: hidden;
}

.logo{
  font-size: 1rem;
}
.colorify{
  color: #ffffff;
}

.colorify:hover{
  -webkit-animation: AnimateText 3s ease infinite;
  -moz-animation: AnimateText 3s ease infinite;
  animation: AnimateText 3s ease infinite;
  font-weight: bolder;
  transition: 2s;
}

@-webkit-keyframes AnimateText {
  0%{color:#ffffff }
  20%{color:#b62f57 }
  40%{color:#ff9900 }
  85%{color:#8c00ff }
  100%{color:#ffffff }
}
@-moz-keyframes AnimateText {
  0%{color:#ffffff }
  20%{color:#b62f57 }
  40%{color:#ff9900 }
  85%{color:#8c00ff }
  100%{color:#ffffff }
}
@keyframes AnimateText {
  0%{color:#ffffff }
  20%{color:#b62f57 }
  40%{color:#ff9900 }
  85%{color:#8c00ff }
  100%{color:#ffffff }
}

.white{
  background-color: #ffffff;
  color: black;
}

.themecol{
  background-color: #3A7CA5 ;
}