.main{
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    background-color: white;
    text-align: center;
    align-content: center;
    padding: 2%;
}
.navbarbg{
    background: linear-gradient(223deg, #070a38, #171719);
}

.thematify{
    color: #b62f57;
    -webkit-animation: AnimateText 5s ease infinite;
    -moz-animation: AnimateText 5s ease infinite;
    animation: AnimateText 5s ease infinite;
    font-weight: bolder;
}

.fullapp{
    min-height: 100vh;
    display: flex;
    background: linear-gradient(223deg, #b62f57, #8c00ff, #ff9900);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimateText {
    0%{color:#8c00ff }
    33%{color:#b62f57 }
    66%{color:#ff9900 }
    100%{color:#8c00ff }
}
@-moz-keyframes AnimateText {
    0%{color:#8c00ff }
    33%{color:#b62f57 }
    66%{color:#ff9900 }
    100%{color:#8c00ff }
}
@keyframes AnimateText {
    0%{color:#8c00ff }
    33%{color:#b62f57 }
    66%{color:#ff9900 }
    100%{color:#8c00ff }
}

@-webkit-keyframes AnimationName {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}
@keyframes AnimationName { 
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}

.btn-outline-primary {
    background-color: transparent;
    border: #8c00ff 1px solid;
    color: #8c00ff;
    transition: all linear 0.3s;
    border-radius: 10px;
}

.btn-outline-primary:hover{
    background-color: #8c00ff;
    color: white;
    border: #8c00ff 1px solid;
    border-radius: 15px;
}

.linkable{
    cursor: pointer;
    color: black;
}